{% extends 'blog/base.html' %}

{% block title %}
    Статьи
{% endblock %}

{% block content %}
    {% for post in posts %}

        <div class="card">
            <img src="https://stihi.ru/pics/2015/04/25/5852.jpg" style="max-width: 100%" class="card-img-top"
                 alt="заглушка для картинки">
            <div class="card-body">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.body|truncatewords:30|linebreaks }}</p>
                <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Читать полностью</a>
            </div>
        </div>

    {% endfor %}
{% endblock %}
{% block links_title %}
    <ul>
        {% for post in posts %}
            <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>

        {% endfor %}

    </ul>


{% endblock %}